<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.geschenkeorganizer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name = ".NotifyService"
            android:enabled = "true"
            android:exported = "true" >
        </service>

        <activity
            android:name=".PersonsFile.PersonsActivity"
            android:parentActivityName=".MainActivity"
        />


        <activity android:name=".PersonsFile.PersonsAddActivity"
            android:parentActivityName=".PersonsFile.PersonsActivity"
            />

        <activity android:name=".presents.PresentsActivity"
            android:parentActivityName=".MainActivity"
            />

        <activity android:name=".presents.PresentsAddActivity"
            android:parentActivityName=".presents.PresentsActivity"
            />



        <activity android:name=".presents.PresentsAddDateAddActivity"
            android:parentActivityName=".MainActivity"
            />

        <activity android:name=".InspirationActivity"
            android:parentActivityName=".MainActivity"
            />

        <activity android:name=".TestNotificationActivity"
            android:parentActivityName=".MainActivity"
            />



    </application>

</manifest>